
 body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
/*start navbar*/
.header {
    background-color: #00A19B;
    color: #D8F1EF;
}

.navbar-nav {
    margin: auto;
}
.header .navbar-brand {
    font-size: 25px;
}
.header .navbar-brand span,
.header .navbar-brand #h {
font-size: 26px;
font-weight: bold;
}
.header .navbar-brand span {
    color: #EA4F1C;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 25px;
    margin-right: 8px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #aae17f;
    border-bottom: 2px solid #EA4F1C;
}
.header .navbar-brand #h {
    color: #d6c90c;
}
.header .form-inline {
    background-color: #EA4F1C;
    color: white;
}
/* End Navbar*/

/*start carousel*/

.carousel .carousel-item img{
    height: 900px;
    z-index: 3;
}
.carousel .carousel-item h5 {
    color: #d6c90c;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;

}

.carousel .carousel-item p {
    font-size: 25px;
    color: #B6E4E2;
    text-transform: capitalize;
    z-index: 2;
}
.carousel .slider{
      height: 100px;
    z-index: 3;


}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    z-index: 3;
}

.carousel .slider .intro{
      text-align: center;
      padding-top: 210px;
}


.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

/*End carousel*/

/*About Us*/
 /*Start Team Member Section*/
.mt-4 h1,
.testimonials h1 {
    border-bottom: 2px solid green;
    margin: auto;
    color: currentColor;
}
.mt-4 p {
    font-weight: 400;
}
/*End about us*/
.container-fluid {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #000000;
    color: #ffffff
}

#heading {
    font-size: 40px;
    margin-top: 40px;
    font-weight: normal;
    font-family: Century Gothic
}

.line {
    background-color: #2bff00;
    border-radius: 50px;
    border: none;
    padding: 2px;
    height: 4px;
    width: 100px;
    margin-top: 5px
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%)
}

@media (max-width: 768px) {
    .vertical-center {
        margin: 0;
        position: relative;
        top: 0;
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

.gap {
    height: 130px
}

@media (max-width: 768px) {
     .gap {
        height: 0
    }
}

 .container-fluid .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto
}

.container-fluid img {
    width: 175px;
    height: 150px;
    border-radius: 50%;

}
.mt-2, .my-2 {
    margin-top: 2.5rem;
}

.container-fluid .image-name {
    font-weight: bold
}

.container-fluid .fit-image {
    width: 100%;
    object-fit: cover
}
 /*End Team Member Section*/

section.my-5 .h1-responsive {
    margin: auto;
    width: 200px;
    border-bottom: 2px solid green;

}

/* start footer*/
.footer {
    color: black;
    background-color: #B6E4E2;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    font-size: 28px;
    margin-top: 30px;
    
}
.footer span,.footer-a span {
	margin-top: 2px;
}
.footer-a{
    margin-top: 153px;
}
/* end footer*/

@media (max-width: 768px) {
      .carousel-inner{
        width:100%;
        max-height: 600px !important;
      }
    .mt-4 h1 {
        font-size: 24px;
    }
    section.p-1 h2 {
        font-size: 18px;
    }
    .mb-4, .my-4 {
        margin-bottom: 2.5rem;
    }
    .footer span{
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }
    .mt-4 p {
        font-size: 15px;
    }
    .testimonials h1 {
        font-size: 40px;
    }
}
 
/* some important style */
.clearfix {
    clear: both
}